<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onestepatatime">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="One Step At A Time"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name=".ClientMainActivity"></activity>
        <activity android:name=".ClientCalendarActivity"></activity>
        <activity android:name=".ClientJournalActivity"></activity>
        <activity android:name=".ClientWorksheetsActivity"></activity>

        <activity android:name=".ClientNotesActivity"></activity>
        <activity android:name=".ClientNoteTakingActivity"></activity>

        <activity android:name=".ClientTherapistListActivity"></activity>
        <activity android:name=".ClientAddNewConnectionActivity"></activity>
        <activity android:name=".TherapistInfoDisplayActivity"></activity>
        <activity android:name=".ClientShareNoteActivity"></activity>
        <activity android:name=".ClientSharedNotesActivity"></activity>
        <activity android:name=".ClientSharedNoteTakingActivity"></activity>
        
        <activity android:name=".ClientAddNewEmergencyContactEntryActivity"></activity>


        <activity android:name=".ClientEmergencyContactListActivity"></activity>

        <activity android:name=".TherapistMainActivity"></activity>

        <activity android:name=".TherapistCalendarActivity"></activity>
        <activity android:name=".TherapistAssessmentActivity"></activity>

        <activity android:name=".TherapistWorksheetsActivity"></activity>

        <activity android:name=".TherapistNotesActivity"></activity>
        <activity android:name=".TherapistNoteTakingActivity"></activity>
        <activity android:name=".TherapistShareNoteActivity"></activity>
        <activity android:name=".TherapistSharedNotesActivity"></activity>
        <activity android:name=".TherapistSharedNoteTakingActivity"></activity>

        <activity android:name=".TherapistClientListActivity"></activity>
        <activity android:name=".TherapistAddNewConnectionActivity"></activity>
        <activity android:name=".ClientInfoDisplayActivity"></activity>

        <activity android:name=".RegisterActivity"></activity>

        <activity android:name=".MainActivity"></activity>



        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>